@model BetOven.Models.Utilizadores

@{
    ViewData["Title"] = "Delete";
}

<br />
<br />
<br />
<br />
<br />

<h1>Apagar</h1>
<br />
<h3>Tem a certeza de que quer eliminar este Utilizador?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datanasc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datanasc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fotografia)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>

<br />
<br />
<br />
<br />
<br />
