@model BetOven.Models.Apostas

@{
    ViewData["Title"] = "Apagar";
}

<br />
<br />
<br />
<br />
<br />

<h1>Apagar</h1>
<br />
<h3>Tem a certeza de que quer eliminar esta aposta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Multiplicador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Multiplicador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jogo.Njogo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>

<br />
<br />
<br />
<br />
<br />
