@model IEnumerable<BetOven.Models.Apostas>

@{
    ViewData["Title"] = "Apostas";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>Apostas</h1>

<p>
    <a asp-action="Create">Criar nova Aposta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multiplicador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Multiplicador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jogo.Njogo)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<br />
<br />
<br />
<br />
<br />
<br />