@model BetOven.Models.Depositos

@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<br />
<br />
<br />


<h1>Detalhes</h1>

<div>
    <h4>Depósitos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Montante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Montante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formato_pagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formato_pagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origem_deposito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origem_deposito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NDeposito">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>

<br />
<br />
<br />
<br />
<br />
