@using Microsoft.AspNetCore.Identity
@inject SignInManager<BetOven.Data.ApplicationUser> SignInManager
@inject UserManager<BetOven.Data.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @*<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity.Name!</a>*@

            @{
                string NomeUser = (await UserManager.GetUserAsync(User)).Nome;
                string FotoUser = (await UserManager.GetUserAsync(User)).Fotografia;
            }
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="@Url.Content("~/Imagens/Users/")@FotoUser" height="30" alt="fotografia do @NomeUser" title="@NomeUser" />
                @NomeUser
            </a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
