@model IEnumerable<BetOven.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogos</h1>

@if (User.IsInRole("Administrativo"))
{
    <p>
        <a asp-action="Create">Novo Jogo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipaA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipaB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datainiciojogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipaA)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Njogo">
                        <img src="@Url.Content("~/Imagens/")@item.FotoA" height="60" alt="imagem da equipa @item.EquipaA" title="@item.EquipaA" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultado)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Njogo">
                        <img src="@Url.Content("~/Imagens/")@item.FotoB" height="60" alt="imagem da equipa @item.EquipaB" title="@item.EquipaB" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipaB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datainiciojogo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Njogo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Njogo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Njogo">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
